<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ./common/head.ejs %>
<body>
<div class="holder flex col">
    <%- include ./common/header.ejs %>
    <main>
        <h1><%=errorMsg%></h1>
        <h2>So... Get out of here!</h2>
        <% const buttons = [{img: '/images/cat-404.jpg', alt: 'evil cat'}] %>
        <%- include elements/buttons.ejs %>
    </main>
    <%- include ./common/footer.ejs %>
</div>
<%- include ./common/scriptpack.ejs %>
</body>
</html>